<html ng-app="myApp">
  <head>
    <title>Your Shopping Cart</title>
  </head>
  <body ng-controller="CartController">
    <h1>Your Order</h1>
    <div ng-repeat="item in items">
      <span>{{item.title}}</span>
      <input ng-model="item.quantity" />
      <span>{{item.price | currency}}</span>
      <span>{{item.price * item.quantity | currency}}</span>
      <button ng-click="remove($index)">Remove</button>
    </div>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="controllers.js"></script>
  </body>
</html>
